<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>
        {% block title %}
        {{ block('suite_name') }}
        {% endblock title %}
        </title>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/qunit/git/qunit.css" type="text/css" media="screen" />
        <script type="text/javascript" src="http://code.jquery.com/qunit/git/qunit.js"></script>
        {% block tests %}
        {# Scripts to run the tests go here. #}
        {% endblock tests %}
    </head>
    <body>
        <h1 id="qunit-header">
            {% block suite_name %}
            QUnit Tests
            {% endblock suite_name %}
        </h1>
        <h2 id="qunit-banner">
        </h2>
        <div id="qunit-testrunner-toolbar">
        </div>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests">
        </ol>
        <div id="qunit-fixture">
            {% block markup %}
            {# Place markup which must be present during the tests here.  Will
             # be hidden.
             #}
            {% endblock markup %}
        </div>
    </body>
</html>